doctype html
html
  head
    title D3/C3 Test
    script(src='/static/libs/js/jquery-3.1.1.js')
    script(src='/static/libs/js/d3.js')
  body
    h1 D3 Test
    #chart_d3
    link(href='/static/css/chartD3.css' rel='stylesheet' type='text/css')
    script(src='/static/js/chartD3.js')
